@{
    ViewData["Title"] = "About Joel Hilton";
}

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Get to know Joel Hilton</h1>
    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <p class="lead">Joel Hilton is not only a film connoisseur but also a talented performer and podcast host! Check out some of his endeavors:</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="https://www.qwcomedy.com/" class="btn btn-danger btn-lg mb-3">Quick Wits Comedy</a>
            <p class="text-muted">Catch Joel's hilarious performances at Quick Wits Comedy!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="https://baconsale.com/" class="btn btn-dark btn-lg">Baconsale Podcast</a>
            <p class="text-muted">Tune in to Baconsale, where Joel is one of the witty hosts!</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <a href="https://baconsale.com/">
                <img src="/img/BaconsaleKate.jpg" alt="The BaconSale team" class="img-fluid rounded mb-4" style="max-height: 400px;">
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>Joel is not only a passionate film enthusiast but also a talented comedian and podcast host. Check out his performances at Quick Wits Comedy and don't miss him on Baconsale podcast!</p>
        </div>
    </div>
</div>
